name: Create Release

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  deploy:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    runs-on: ubuntu-latest
    name: Create Release

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Check Prerelease
        id: check-prerelease
        run: |
          if echo "${{ github.ref_name }}" | grep -Pq "^v[\d]+.[\d]+.[\d]+(?:.(alpha|beta).[\d]+)$"; then
            echo "prerelease=true" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref }}
          name: ${{ github.ref_name }}
          generateReleaseNotes: true
          prerelease: ${{ steps.check-prerelease.outputs.prerelease == 'true' }}

      - name: Download artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          run_id: ${{ github.event.workflow_run.id }}
          workflow_conclusion: success

      - name: Package
        run: |
          (cd stfc-community-mod && zip -r - .) > stfc-community-mod.zip

      - name: Upload Community Patch - Standard
        uses: shogo82148/actions-upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./stfc-community-mod.zip
          asset_name: stfc-community-mod.zip
          asset_content_type: application/zip

      - name: Upload Community Patch - Versioned
        uses: shogo82148/actions-upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./stfc-community-mod.zip
          asset_name: stfc-community-mod-${{ github.ref_name }}.zip
          asset_content_type: application/zip

      - name: Upload Community Patch - Mac Installer
        uses: shogo82148/actions-upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./stfc-community-mod-installer/stfc-community-mod-installer.dmg
          asset_name: stfc-community-mod-installer.dmg
